@import "../../assets/styles/config";

.home {
  margin-top: 10%;
}

.input-container {
  text-align: center;
}

input {
  border: none;
  border-bottom: 2px solid red;
  background: $background_color;
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  outline: none;
  color: $primary_text_color;
  padding: 3px;
}

