@import "../../assets/styles/config";

.film {
  color: $primary_text_color;
  font-weight: bold;
  width: 185px;
  margin: 5px auto;
  transition-duration: 0.9s;
  transition-property: transform;
  &:hover {
    transform: scale(1.1);
  }
  .img-poster {
    width: 100%;
  }
  .film-details {
    margin-top: 3px;
  }
  img {
    border-radius: 10px;
  }
  .title-rating {
    display: flex;
    justify-content: space-between;
    .film-title {
      white-space: nowrap;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .broken {
    width: 185px;
    height: 280px;
    margin-top: 1.2px;
  }
  .genre {
    width: 80%;
    align-content: start;
    font-weight: lighter;
    color: #a2a3a4;
  }
}

@media only screen and (max-width: 600px) {
  .film {
    width: 100%;
    margin: 10px auto;
    &:hover {
      transform: scale(1);
    }
  }
}
